automation/dim light.json
[{"id":"ea7a559d9f9b8d48","type":"tab","label":"dim light","disabled":false,"info":"dim light and turn off light switch","env":[]},{"id":"c7cdc5bb42bb3582","type":"inject","z":"ea7a559d9f9b8d48","name":"every 11:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 23 * * *","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["1e470f638b7a5440"]]},{"id":"d2f9383ecb237eab","type":"api-call-service","z":"ea7a559d9f9b8d48","name":"turn off all light","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["574257f98bcd639602c6d69478af861f"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"brightness","propertyType":"msg","value":"","valueType":"str"}],"queue":"none","x":600,"y":240,"wires":[["226040de68105e02"]]},{"id":"1e470f638b7a5440","type":"moment","z":"ea7a559d9f9b8d48","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Riyadh","adjAmount":"1","adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"","outputType":"msg","outTz":"Asia/Riyadh","x":320,"y":300,"wires":[["d2f9383ecb237eab","76cb216bf8c36c02"]]},{"id":"226040de68105e02","type":"debug","z":"ea7a559d9f9b8d48","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":240,"wires":[]},{"id":"76cb216bf8c36c02","type":"api-call-service","z":"ea7a559d9f9b8d48","name":"dim light","server":"503fe79f.dd8838","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["28dc75a3df8aa313abe837018d4e050c","43227e9308d19fd96a9171acd668893c"],"entityId":[],"data":"{\"brightness_pct\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":360,"wires":[["226040de68105e02"]]},{"id":"503fe79f.dd8838","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]