automation/Lounge Presence.json
[{"id":"a852e5f8.454c88","type":"subflow","name":"lounge media command","info":"payload must be one of: play, pause, stop\nthe command will be sent to whichever device is on","category":"","in":[{"x":171.81749725341797,"y":193.74007034301758,"wires":[{"id":"95106d65.46eb4"}]}],"out":[{"x":1462.1903686523438,"y":260.7837429046631,"wires":[{"id":"f2b99657.c0a568","port":0}]}]},{"id":"af06f394.54983","type":"api-current-state","z":"a852e5f8.454c88","name":"get chromecast state","server":"cc436e5e.bbf7e","version":3,"outputs":2,"halt_if":"playing,paused","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"media_player.lounge_chromecast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"cc_state","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":460,"y":100,"wires":[["c00dcb11.369b78"],["a7231fe4.d6035"]]},{"id":"e7704823.898e48","type":"api-call-service","z":"a852e5f8.454c88","name":"Media player command","server":"cc436e5e.bbf7e","version":5,"domain":"media_player","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1030,"y":200,"wires":[["f2b99657.c0a568"]]},{"id":"c00dcb11.369b78","type":"api-call-service","z":"a852e5f8.454c88","name":"Harmony remote command","server":"cc436e5e.bbf7e","version":5,"domain":"remote","service":"send_command","areaId":[],"deviceId":[],"entityId":["remote.lounge"],"data":"{\"device\":\"64042126\",\"command\":\"{{payload}}\"}","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":860,"y":60,"wires":[["f2b99657.c0a568"]]},{"id":"95106d65.46eb4","type":"api-current-state","z":"a852e5f8.454c88","name":"get TV state","server":"cc436e5e.bbf7e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.lounge_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"tv_state","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":310,"y":180,"wires":[["af06f394.54983"],["7e434a99.61ff04"]],"icon":"node-red/switch.png"},{"id":"a7231fe4.d6035","type":"change","z":"a852e5f8.454c88","name":"media_player is lounge chromecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"service\": \"media_\" & payload,\t   \"data\":{\t       \"entity_id\":\"media_player.lounge_chromecast\"\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["e7704823.898e48"]]},{"id":"7e434a99.61ff04","type":"change","z":"a852e5f8.454c88","name":"media_player is lounge hub","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"service\": \"media_\" & payload,\t   \"data\":{\t       \"entity_id\":\"media_player.lounge_hub\"\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["e7704823.898e48"]]},{"id":"f2b99657.c0a568","type":"change","z":"a852e5f8.454c88","name":"Clear payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":120,"wires":[[]]},{"id":"bfb3ba20.e651d8","type":"tab","label":"Lounge Presence","disabled":true,"info":"# Turn off lounge lights & TV \n\nIf there's no movement for 20 minutes, dim lights and pause TV\n\nIf there's still no movement for 5 minutes turn them off \n\nOtherwise restore them to original state"},{"id":"2e928545.a1ad0a","type":"ha-wait-until","z":"bfb3ba20.e651d8","name":"warning timer","server":"cc436e5e.bbf7e","version":1,"outputs":2,"entityId":"binary_sensor.loungemotion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"20","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":393.3115234375,"y":299.1984233856201,"wires":[[],["e939bbc3.9dd108"]],"outputLabels":["motion detected - cancel","no motion - warning"]},{"id":"86931eb5.ea345","type":"subflow:a852e5f8.454c88","z":"bfb3ba20.e651d8","name":"","x":1501.3093070983887,"y":243.6468276977539,"wires":[["5a71139f.a7032c"]]},{"id":"8e69244d.436e08","type":"change","z":"bfb3ba20.e651d8","name":"pause","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282.5909881591797,"y":243.76979064941406,"wires":[["86931eb5.ea345"]]},{"id":"e939bbc3.9dd108","type":"api-current-state","z":"bfb3ba20.e651d8","name":"get light state","server":"cc436e5e.bbf7e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.ceiling","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"light_orig_state","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":587.898811340332,"y":306.09127616882324,"wires":[["50b2ce.ffeced3"],["e7519e1c.8a75a"]],"outputLabels":["light on","light off"]},{"id":"50b2ce.ffeced3","type":"api-call-service","z":"bfb3ba20.e651d8","name":"dim light","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ceiling"],"data":"{\"brightness_pct\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":712.081428527832,"y":242.08929443359375,"wires":[["64ef49d5.fe4878"]]},{"id":"e7519e1c.8a75a","type":"api-current-state","z":"bfb3ba20.e651d8","name":"get PS state","server":"cc436e5e.bbf7e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.ps3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"ps4_orig_state","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1062.085292816162,"y":311.0297546386719,"wires":[["690f0b1c.b399d4"],["d22609e2.6b5048"]]},{"id":"690f0b1c.b399d4","type":"api-call-service","z":"bfb3ba20.e651d8","name":"mute volume","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"remote","service":"send_command","areaId":[],"deviceId":[],"entityId":["remote.lounge"],"data":"{\"device\":29590173,\"command\":\"mute\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1316.7875442504883,"y":169.02774238586426,"wires":[["5a71139f.a7032c"]]},{"id":"64ef49d5.fe4878","type":"ha-wait-until","z":"bfb3ba20.e651d8","name":"delay 30s","server":"cc436e5e.bbf7e","version":1,"outputs":2,"entityId":"binary_sensor.loungemotion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":867,"y":219,"wires":[["47d7ea95.278574"],["e7519e1c.8a75a"]],"outputLabels":["motion detected - cancel","no motion - warning"]},{"id":"47d7ea95.278574","type":"api-call-service","z":"bfb3ba20.e651d8","name":"reset light","server":"cc436e5e.bbf7e","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ceiling"],"data":"{\"brightness\":\"{{light_orig_state.attributes.brightness}}\",\"transition\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1047.1051597595215,"y":170.02776908874512,"wires":[[]]},{"id":"d22609e2.6b5048","type":"api-current-state","z":"bfb3ba20.e651d8","name":"get tv/soundbar state","server":"cc436e5e.bbf7e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.harmony_lounge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"ghl_orig_state","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1312.517780303955,"y":317.027756690979,"wires":[["8e69244d.436e08"],["5a71139f.a7032c"]]},{"id":"5a71139f.a7032c","type":"link out","z":"bfb3ba20.e651d8","name":"","links":["e1135631.347958"],"x":1762.2381763458252,"y":242.74405097961426,"wires":[]},{"id":"e1135631.347958","type":"link in","z":"bfb3ba20.e651d8","name":"","links":["5a71139f.a7032c"],"x":146.30556106567383,"y":578.2995986938477,"wires":[["4b270e71.486ae"]]},{"id":"4b270e71.486ae","type":"ha-wait-until","z":"bfb3ba20.e651d8","name":"off timer","server":"cc436e5e.bbf7e","version":1,"outputs":2,"entityId":"binary_sensor.loungemotion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":304.74007415771484,"y":578.3769569396973,"wires":[["bb094442.86ffb8","40b365e6.f5d88c","264abf4.bb8a84"],["2d4d38e.eae6fc8","3d31e9c0.8aed16","d1a65a6.2d45aa8"]],"outputLabels":["motion detected - cancel","no motion - warning"]},{"id":"92893071.e7f14","type":"comment","z":"bfb3ba20.e651d8","name":"Warning flow","info":"Dim lights (if they're on)\nStill no motion for 30s then mute playstation or pause TV (if they're on)","x":130,"y":240,"wires":[]},{"id":"8a13da3.163d628","type":"comment","z":"bfb3ba20.e651d8","name":"Off or reset flow","info":"Now in warning mode if no motion things should be turned off\nif there is motion things should be returned to their original states","x":140,"y":500,"wires":[]},{"id":"bb094442.86ffb8","type":"switch","z":"bfb3ba20.e651d8","name":"reset light?","property":"light_orig_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":577,"y":399,"wires":[["ad1917df.f0d828"]]},{"id":"40b365e6.f5d88c","type":"switch","z":"bfb3ba20.e651d8","name":"reset PS4?","property":"ps4_orig_state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":577,"y":459,"wires":[["a1e4e81d.902258"]]},{"id":"264abf4.bb8a84","type":"switch","z":"bfb3ba20.e651d8","name":"reset TV/SB?","property":"ghl_orig_state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":577,"y":519,"wires":[["4097fa99.936e14"]]},{"id":"ad1917df.f0d828","type":"api-call-service","z":"bfb3ba20.e651d8","name":"reset light","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ceiling"],"data":"{\"brightness\":\"{{light_orig_state.attributes.brightness}}\",\"transition\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":927,"y":399,"wires":[[]]},{"id":"a1e4e81d.902258","type":"api-call-service","z":"bfb3ba20.e651d8","name":"unmute volume","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"remote","service":"send_command","areaId":[],"deviceId":[],"entityId":["remote.lounge"],"data":"{\"device\":29590173,\"command\":\"mute\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":947,"y":459,"wires":[[]]},{"id":"4097fa99.936e14","type":"change","z":"bfb3ba20.e651d8","name":"play","rules":[{"t":"set","p":"payload","pt":"msg","to":"play","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":519,"wires":[["84b596cc.093428"]]},{"id":"84b596cc.093428","type":"subflow:a852e5f8.454c88","z":"bfb3ba20.e651d8","name":"","x":977,"y":519,"wires":[[]]},{"id":"2d4d38e.eae6fc8","type":"switch","z":"bfb3ba20.e651d8","name":"turn off light?","property":"light_orig_state.state","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580.6289978027344,"y":642.0118827819824,"wires":[["cbefe89b.51ede8"]]},{"id":"cbefe89b.51ede8","type":"api-call-service","z":"bfb3ba20.e651d8","name":"reset light","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ceiling"],"data":"{\"brightness\":\"{{light_orig_state.attributes.brightness}}\",\"transition\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":778.40673828125,"y":642.0119018554688,"wires":[["293a7fc0.d9067"]]},{"id":"293a7fc0.d9067","type":"api-call-service","z":"bfb3ba20.e651d8","name":"turn off light","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ceiling"],"data":"{\"transition\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":974.40673828125,"y":642.0119018554688,"wires":[[]]},{"id":"3d31e9c0.8aed16","type":"api-current-state","z":"bfb3ba20.e651d8","name":"turn off other device?","server":"cc436e5e.bbf7e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.harmony_lounge","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":609.0397071838379,"y":704.2975969314575,"wires":[["e2b6d3ed.97e86"],[]]},{"id":"e2b6d3ed.97e86","type":"api-call-service","z":"bfb3ba20.e651d8","name":"turn off","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.lounge"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":957.8015079498291,"y":698.3630800247192,"wires":[[]]},{"id":"d1a65a6.2d45aa8","type":"api-call-service","z":"bfb3ba20.e651d8","name":"Fairy lights","server":"cc436e5e.bbf7e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.fairy_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":580.3016052246094,"y":775.5159072875977,"wires":[[]]},{"id":"1dc795e5.b8e15a","type":"server-state-changed","z":"bfb3ba20.e651d8","name":"lights on","server":"cc436e5e.bbf7e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ceiling","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":187.30159378051758,"y":170.4523868560791,"wires":[["2e928545.a1ad0a"],[]]},{"id":"6c18e4fa.1e20bc","type":"server-state-changed","z":"bfb3ba20.e651d8","name":"harmony device on","server":"cc436e5e.bbf7e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.harmony_lounge","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":196.30953979492188,"y":120.44644165039062,"wires":[["2e928545.a1ad0a"],[]]},{"id":"a15ee7a1.61fda8","type":"trigger-state","z":"bfb3ba20.e651d8","name":"Motion?","server":"cc436e5e.bbf7e","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.loungemotion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":177.3095245361328,"y":305.2182550430298,"wires":[["2e928545.a1ad0a"],[]]},{"id":"e4e5ec7c.2e7df","type":"comment","z":"bfb3ba20.e651d8","name":"Turn off lights and TV if no motion","info":"","x":151,"y":40,"wires":[]},{"id":"cc436e5e.bbf7e","type":"server","name":"Home Assistant","version":4,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]